.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: rgb(252, 104, 104);
}
#box2{
    background-color: rgb(250, 250, 96);
}
#box3{
    background-color: rgb(104, 243, 104);
}
#box4{
    background-color: rgb(121, 121, 245);
}