body{
    margin: 0px;
}
.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
    margin: 50px;
}
#box1{
    background-color: hsl(130, 82%, 34%);
}
#box2{
    background-color: hsl(184, 79%, 37%);
}