h1{
    text-shadow: 3px 3px 5px hsl(270, 50%, 40%), -3px -3px 5px hsl(240, 100%, 50%);
}
#box1{
    width: 100px;
    height: 100px;
    background-color: rgb(240, 255, 255);
    box-shadow: 3px 3px 5px;
}